/*-------------Миксины----------------*/
@mixin adaptiveFont($maxFont, $minFont) {
    $addSize: $maxFont - $minFont;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width: 768px) {
        font-size: calc(#{$minFont + px} + #{$addMobSize} * ((100vw - 320px) / 1920));
    }
    @media (min-width: 768px) {
        font-size: calc(#{$minFont + px} + #{$addSize} * (100vw  / 1920));
    }
}

@mixin adaptiveProperty($property, $max, $min) {
    $addSize: $max - $min;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width: 768px) {
        #{$property}: calc(#{$min + px} + #{$addMobSize} * ((100vw - 320px) / 1920));
    }
    @media (min-width: 768px) {
        #{$property}: calc(#{$min + px} + #{$addSize} * (100vw  / 1920));
    }
}

@mixin mediaMaxWidth($maxScreenWidth) {
  @media screen and (max-width: #{$maxScreenWidth + px}) {
      @content;
  }
}

@mixin mediaMinWidth($minScreenWidth) {
  @media screen and (min-width: #{$minScreenWidth + px}) {
      @content;
  }
}